<!DOCTYPE html>
<html>
<head>
    <title>Apache Server</title>
</head>
<body>
    <h1>Welcome to the {{ ansible_distribution }} Server on Windows!</h1>
    <p>This server is running Apache.</p>
</body>
</html>
